body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7a7a7a;
    /* <-- Just in case the image doesn't load for whatever reason */
}

header {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul button {
    display: inline;
    margin: 0 10px;
}

nav ul button:hover {
    text-decoration: underline;
}

#collections-main {
    padding: 1rem;
    text-align: center;
}

#home-back {
    background: url('https://visualizeled.com/wp-content/uploads/2024/06/Evolution_of_History_Museum_Displays_859c439b-bee0-4424-ab33-16627c58660e.png') no-repeat center fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 3rem 1rem;
    text-align: center;
}

#home-back h2 {
    font-size: 2rem;
}

#home-back p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.nav-btn {
    background-color: #2b602d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* this one is SPECIFICALLY for the home page */
.grid-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.grid-home-top {
    background-color: rgba(0, 55, 85, 0.827);
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.grid-item {
    background-color: rgba(0, 55, 85, 0.827);
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.grid-item h3 {
    margin-top: 0;
}

.grid-bottom {
    background-color: rgba(0, 55, 85, 0.827);
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer p {
    font-size: 0.9rem;
}

/* Staff Styling */
.staff {
    width: 80%;
    max-width: 1000px;
    margin: 2rem auto;
}

.staff-card {
    display: flex;
    text-align: left;
    align-items: center;
    background-color: rgba(0, 55, 85, 0.827);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.staff-card img {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 1.5rem;
}

.staff-info h2 {
    margin: 0;
    color: white;
}

/* Shop Styling */

.shop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin-left: 75px;
}

.souvenir-item {
    width: 250px;
    background-color: #ffffff;
    border: 2px solid #222;
    padding: 10px;
    border-radius: 6px;
    position: relative;
}

.souvenir-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.souvenir-item input[type="checkbox"] {
    margin-right: 8px;
}

.souvenir-item button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    font-weight: bold;
    background-color: #30336b;
    color: white;
    border: none;
    cursor: pointer;
}

.souvenir-item button:hover {
    background-color: #130f40;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    width: 60%;
    border-radius: 8px;
}

.modal-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

.close-modal {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    color: #444;
}